.btn-submit {
  float: left;
  width: 100px;
  margin: 0;
  padding: 0;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 23px;
  border: 1px solid #007bff;
  background: #007bff;
  &:hover {
    background: rgba(#007bff, 0.8);
  }
}


.btn-Sort {
  display: block;
  font-size: 14px;
  cursor: pointer;
  line-height: 20px;
  border: 1px solid #17a2b8;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  background: #17a2b8;
  &:hover {
    background: rgba(#17a2b8, 0.8);
  }
}

.search-btn {
  position: absolute;
  right: 5px;
  top: 6px;
  z-index: 5;
  background: none;
  background-image: url("../../images/search-icon.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  border: none;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
}